#formControl {
    gap: 15px;
    width: 90%;
}


#controlParentDiv {
    overflow-y: auto;
    overflow-x: hidden;
    /*background-color: aqua;*/
    height: 100%;
    width: 80%;
    /*
    padding-top: 10%;
    padding-bottom: 10%;
    */
}
